nextflow.enable.dsl=2

params { 
    vcf = null 
    phenotype = null 
    coconut = null 
    annotation_tsv = null 
    outdir = 'results' 

    species = 'human' 
    phenotype_type = 'continuous' 
    indep_pairwise = '50 5 0.2' 
    pca_components = 5 
    candidate_top_n = 20 
    fdr_threshold = 0.05 

    max_annotation_variants = 20 
    offline_annotation = false 

    struct_backend = 'alphafold' 
    max_retries = 3 
    retry_delay = 3 

    fingerprint_radius = 2 
    fingerprint_bits = 2048 
    dti_mode = 'deepurpose' 
    dti_model = 'Morgan_CNN_BindingDB' 
    dti_batch_size = 64 
    max_compounds = 0 
    top_n = 50 
} 

profiles { 
    docker { 
        docker.enabled = true 
    } 
    singularity { 
        singularity.enabled = true 
        singularity.autoMounts = true 
    } 
    conda { 
        conda.enabled = true 
    } 
    test { 
        params.vcf = "${projectDir}/test_data/sample.vcf" 
        params.phenotype = "${projectDir}/test_data/sample_phenotype.tsv" 
        params.coconut = "${projectDir}/test_data/sample_coconut.smi" 
        params.annotation_tsv = "${projectDir}/test_data/sample_annotation.tsv" 
        params.offline_annotation = true 
        params.struct_backend = 'mock' 
        params.dti_mode = 'mock' 
        params.outdir = 'results_test' 
        params.max_annotation_variants = 20 
    } 
    real_small { 
        params.phenotype_type = 'continuous' 
        params.offline_annotation = false 
        params.struct_backend = 'mock' 
        params.dti_mode = 'deepurpose' 
        params.max_annotation_variants = 5 
        params.max_compounds = 100 
        params.top_n = 20 
        params.candidate_top_n = 10 
        params.pca_components = 3 
        params.outdir = 'results_real_small' 
    } 
} 

process { 
    withLabel: genomics { 
        cpus = 2 
        memory = '4 GB' 
        time = '30m' 
        container = 'phenoscreen/genomics:2.0' 
    } 
    withLabel: annotation { 
        cpus = 1 
        memory = '1 GB' 
        time = '20m' 
        container = 'phenoscreen/structure:2.0' 
    } 
    withLabel: structure { 
        cpus = 1 
        memory = '2 GB' 
        time = '30m' 
        container = 'phenoscreen/structure:2.0' 
    } 
    withLabel: cheminformatics { 
        cpus = 2 
        memory = '5 GB' 
        time = '2h' 
        container = params.dti_mode == 'mock' ? 'phenoscreen/cheminformatics-test:2.0' : 'phenoscreen/cheminformatics:2.0' 
    } 
} 

outputDir = params.outdir 
workflow.output.mode = 'copy' 

timeline { 
    enabled = true 
    overwrite = true 
    file = "${params.outdir}/pipeline_info/execution_timeline.html" 
} 
report { 
    enabled = true 
    overwrite = true 
    file = "${params.outdir}/pipeline_info/execution_report.html" 
} 
trace { 
    enabled = true 
    overwrite = true 
    file = "${params.outdir}/pipeline_info/execution_trace.txt" 
} 
dag { 
    enabled = true 
    overwrite = true 
    file = "${params.outdir}/pipeline_info/pipeline_dag.html" 
} 

manifest { 
    name = 'phenoscreen-pipeline' 
    author = 'PhenoScreen contributors' 
    description = 'Genotype-guidance natural-product virtual screening workflow' 
    mainScript = 'main.nf' 
    nextflowVersion = '>=26.04.0' 
    version = '2.0.0' 
} 
